@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #D9D9D9;
    --second-bg-color: #ffffff;
    --text-color: #292930;
    --main-color: #5956E8;
}

html{
    font-size: 12px;;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    
}

.header.sticky{
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar a{
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color:var(--text-color);
    display: none;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text p{
    font-size: 1.6rem;
}

.footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover{
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i{
    font-size: 2.4rem;
    color: var(--second-bg-color);
}

.ab{
    text-align: center;
    margin-top: -91px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(49, 58, 58);
    background-color: rgb(47, 214, 158);
    font-size: 18px;
}

.hd{
    text-align: center;
    margin: 92px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #292930;
    background-color: #ffffff;
    font-size: 18px;
}

.li{
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #292930;
    font-size: 18px;
}