
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #D9D9D9;
    --second-bg-color: #ffffff;
    --text-color: #292930;
    --main-color: #5956E8;
}

html{
    font-size: 12px;;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    
}

.header.sticky{
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar a{
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color:var(--text-color);
    display: none;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text p{
    font-size: 1.6rem;
}

.footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover{
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i{
    font-size: 2.4rem;
    color: var(--second-bg-color);
}

.a{
    text-align: center;
    margin-top: -91px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(49, 58, 58);
    background-color: rgb(47, 214, 158);
    font-size: 18px;
    border-radius: 20px;
}

.b{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(49, 58, 58);
    background-color: rgb(64, 213, 163);
    font-size: 30px;
    border-radius: 20px;
}

.c{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(49, 58, 58);
    background-color: rgb(129, 217, 188);
    font-size: 18px;
    border-radius: 20px;
}

.d{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(49, 58, 58);
    background-color: rgb(166, 193, 184);
    font-size: 30px;
    border-radius: 20px;
}

.e{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(49, 58, 58);
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(169, 188, 181);
    font-size: 18px;
    border-radius: 20px;
}

.f{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(49, 58, 58);
    background-color: rgb(107, 249, 201);
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    border-radius: 20px;
}

.g{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(49, 58, 58);
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(17, 221, 153);
    font-size: 18px;
    border-radius: 20px;
}

.h{
    text-align: center;
    margin-top: -91px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(49, 58, 58);
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(24, 242, 169);
    font-size: 30px;
    border-radius: 20px;
}

.i{
    text-align: center;
    margin-top: -91px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(49, 58, 58);
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(131, 246, 208);
    font-size: 18px;
    border-radius: 20px;
}

.j{
    text-align: center;
    margin-top: -91px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(49, 58, 58);
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(122, 210, 181);
    font-size: 30px;
    border-radius: 20px;
}

.k{
    text-align: center;
    margin-top: -91px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(49, 58, 58);
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(177, 213, 201);
    font-size: 18px;
    border-radius: 20px;
}

.l{
    text-align: center;
    margin-top: -91px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(49, 58, 58);
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(206, 213, 211);
    font-size: 30px;
    border-radius: 20px;
}

.m{
    text-align: center;
    margin-top: -91px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(49, 58, 58);
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(170, 174, 173);
    font-size: 18px;
    border-radius: 20px;
}

.n{
    text-align: center;
    margin-top: -91px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(49, 58, 58);
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(9, 199, 135);
    font-size: 30px;
    border-radius: 20px;
}

.o{
    text-align: center;
    margin-top: -91px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(49, 58, 58);
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(3, 217, 146);
    font-size: 18px;
    border-radius: 20px;
}

.p{
    text-align: center;
    margin-top: -91px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(49, 58, 58);
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(217, 220, 219);
    font-size: 30px;
    border-radius: 20px;
}

.q{
    text-align: center;
    margin-top: -91px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(49, 58, 58);
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(101, 172, 148);
    font-size: 18px;
    border-radius: 20px;
}

.r{
    text-align: center;
    margin-top: -91px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(49, 58, 58);
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(166, 220, 202);
    font-size: 30px;
    border-radius: 20px;
}

.s{
    text-align: center;
    margin-top: -91px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(49, 58, 58);
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(173, 216, 202);
    font-size: 18px;
    border-radius: 20px;
}

.t{
    text-align: center;
    margin-top: -91px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(49, 58, 58);
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(184, 216, 206);
    font-size: 30px;
    border-radius: 20px;
}

.u{
    text-align: center;
    margin-top: -91px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(49, 58, 58);
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(248, 144, 144);
    font-size: 18px;
    border-radius: 20px;
}

.v{
    text-align: center;
    margin-top: -91px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(49, 58, 58);
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(227, 194, 194);
    font-size: 25px;
    border-radius: 20px;
}

.hd{
    text-align: center;
    margin: 92px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #292930;
    background-color: #ffa9a9;
    font-size: 18px;
    border-radius: 20px;
    margin-bottom: 100px;
    margin-top: 100px;
}

